@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
  --bodyBackground: #f2f4f8;
  --successGreen: #00ff84;
  --dangerRed: #ffc0c7;
  --questionBG: #e4e8ee;
  --fontPrimary: #002333;
  --active: #2dbf64;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  color: var(--fontPrimary);
  background-color: var(--bodyBackground);
  max-width: 30%;
  margin: 0 auto;
  font-size: 16px;
}

button {
  width: 100px;
  padding: 4px 8px;
}

input {
  all: unset;
}

a {
  color: inherit;
}

.content {
  height: 90vh;
  padding: 1rem 1rem;
  margin: 0 auto;
}

.info {
  margin-top: 1rem;
  text-align: center;
}

.error {
  color: red;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 4px;
  font-style: italic;
}

.column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

@media only screen and (max-width: 1023px) {
  .column {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 768px) {
  body {
    max-width: 70%;
  }
}

@media only screen and (max-width: 640px) {
  body {
    max-width: 90%;
  }
}
