.login_form {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  border: 2px solid brown;
  border-radius: 8px;
  padding-bottom: 10%;
}

.form_title {
  padding: 20px 0;
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
}

.form_fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.form_field {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 4px;
}

.form_field label {
  display: grid;
  align-items: center;
  min-width: 30%;
  margin: 0 4px;
  text-align: left;
  font-size: 1.3rem;
  font-weight: 500;
}

.form_field input {
  min-width: 70%;
  border: 2px solid brown;
  padding: 4px;
  border-radius: 4px;
  margin: 2px;
  outline: none;
  background-color: beige;
}

.signup_call {
  margin-top: 5%;
  font-size: 1.2rem;
  padding: 10px 0;
  text-align: center;
  border: 2px solid brown;
  border-radius: 8px;
}

.signup_call a {
  margin-left: 6px;
  color: brown;
}

.button {
  width: 100%;
  margin-top: 6px;
  display: flex;
  justify-content: flex-end;
}

.button button {
  padding: 6px 12px;
  font-size: 1.1rem;
  cursor: pointer;
}
